<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Telegram Statistics</title>
    <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background: white;
        padding: 40px;
    }

    .title {
        text-align: center;
        font-size: 25px;
        display: block;
        margin-bottom: 10px;
    }

    .text {
        font-size: 20px;
        display: block;
        margin-top: 10px;
    }
    </style>
</head>
<body>
    <label class="title">Chat: {user1} and {user2}</label>
    <label class="text">Total messages: {total_messages}</label>
    <label class="text">Start date: {start_date}</label>
    <label class="text">End date: {end_date}</label>
    <label class="text">Total days: {total_days} days</label>
    <label class="text">Messages from {user1}: {user1.total_messages}</label>
    <label class="text">Messages from {user2}: {user2.total_messages}</label>
    <div id="pie1" style="width: 500px; height: 500px;"></div>
    <label class="text">Average messages per day: {avg_messages_per_day}</label>
    <div id="bar1" style="width:1000px;height:400px;"></div>
    <label class="text">Number of total distinct words: {total_different_words}</label>
    <div id="bar2" style="width:1200px;height:400px;"></div>
    <label class="text">Longest conversation streak (days with messages): {longest_streak} days (From {longest_streak.first_date} to {longest_streak.last_date})</label>
    <div id="bar3" style="width:1200px;height:400px;"></div>

    <script>

        //=============================================================
        // Message distribution pie chart

        var data = [{
        values: [{user1.percent_messages}, {user2.percent_messages}],
        labels: ['{user1}', '{user2}'],
        type: 'pie',
        hoverinfo: 'none'
        }];

        var layout = {
            title: 'Message distribution',
            transition: { duration: 0 }
            };

        Plotly.newPlot('pie1', data, layout, { staticPlot: true });


        //=============================================================
        // Common words bar chart

        var trace = {
            x: [{top_words}],
            y: [{top_words_count}],
            type: 'bar'
        };

        var data = [trace];

        var layout = {
            title: 'Most common words',
            xaxis: { title: 'Word' },
            yaxis: { title: 'Count' }
        };

        Plotly.newPlot('bar1', data, layout, { staticPlot: true });

        //=============================================================
        // Common long words bar chart

        var trace = {
            x: [{top_long_words}],
            y: [{top_long_words_count}],
            type: 'bar'
        };

        var data = [trace];

        var layout = {
            title: 'Most common long words (over 3 characters)',
            xaxis: { title: 'Word' },
            yaxis: { title: 'Count' }
        };
        Plotly.newPlot('bar2', data, layout, { staticPlot: true });


        //=============================================================
        // Hourly message distribution bar chart

        var trace = {
            x: [{message_time_distribution_hours}],
            y: [{message_time_distribution_values}],
            type: 'bar'
        };

        var data = [trace];

        var layout = {
            title: 'Hourly message count distribution',
            xaxis: { title: 'Hour' },
            yaxis: { title: 'Count' }
        };
        Plotly.newPlot('bar3', data, layout, { staticPlot: true });
    </script>
</body>
</html>
